<!-- Result set -->
<div class="resultset">
  <div class="columns is-multiline">

    <!-- Pokemon -->
    <app-pokemon [name]="'Bulbasaur'"
                 [image]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png'"></app-pokemon>


    <!-- Pokemon -->
    <app-pokemon [name]="'Ivysaur'"
                 [image]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/2.png'"></app-pokemon>


    <!-- Pokemon -->
    <app-pokemon [name]="'Venusaur'"
                 [image]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/3.png'"></app-pokemon>

  </div>
</div>
